.dropdown{
  width:200px;
  font-family:sans-serif;
}

.dropdown-button{
  padding:10px;
  border:1px solid #ccc;
  cursor:pointer;
}

.dropdown-menu{
  border:1px solid #ccc;
}

.option{
  padding:10px;
  cursor:pointer;
}

.option:hover{
  background:#f2f2f2;
}


.option.active{
  background:#dbeafe;
}